{{language-selector "dropdown"}}


<h2 id="title" title={{trl "Hello World"}}>Welcome to Ember TML</h2>

<div>{{tr "Hello World" }}</div>
<div>{{tr "{count} Reviews" count=6}}</div>

<div>
  {{tr "{count || message}" count=myCount }}
  <button {{action "decreaseCount"}}>Decrease</button>
  <button {{action "increaseCount"}}>Increase</button>
</div>

<div>{{tr "{count || message}" count=5 }}</div>

{{tr "{actor} uploaded {photo_count || photo} to {target::pos} photo album and then {actor | he,she,they} sent {target | him,her,them} {message_count || message}."
    actor=myActor
    target=myTarget
    photo_count=photoCount
    message_count=messageCount
 }}
 <button {{action "randomize"}}>Randomize</button>
<div>
 {{input placeholder=(trl "{count || message}" count=5) value=(trl "Hello World")}}
</div>

<br>
<hr>


<a href="javascript://" {{action "alertMessage"}}>
  {{tr "Alert Message"}}
</a>
<ul>
{{#each tml.availableLanguages as |language|}}
  <li>
    <img src="{{language.flag_url}}" />
    <a href="javascript://" {{action "changeLanguage" language.locale}}>{{language.english_name}}</a>
    <small>{{language.native_name}}</small>
  </li>
{{/each}}
</ul>
  <p>
  {{#if tml.currentTranslator}}
    {{ tr "Currently logged in as [bold:{name}]" name=tml.currentTranslator.name }}
  {{else}}
    {{tr "You are not logged in as a translator"}}
  {{/if}}
</p>
<a href="javascript://" {{action "toggleTranslationMode"}}>
  {{#if tml.translationModeEnabled}}
    {{tr "Disable Translation Mode"}}
  {{else}}
    {{tr "Enable Translation Mode"}}
  {{/if}}
</a>


{{outlet}}
